@main(title = "Terminology Omnia") {
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li><a href="http://www.omniasalud.com" target="_blank">Omnia Home</a></li>
      </ul>
      <h5 class="powered">
      <span class="txt">Powered by</span><img class="powered-logo" src="@routes.Assets.at("images/hiba.png")"></h5>
    </div>

    <div class="jumbotron">
      <h1>Terminología</h1>
      <img class="main-logo" src="@routes.Assets.at("images/logo_whitebg.png")">
      <div class="action">
        <p class="lead">Ingrese un término y el tipo de búsquea a realizar.</p>

        <form class="form-inline" role="form" id="searchForm" action="#">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Término" id="term">
          </div>
          <div class="form-group">
            <select class="form-control" id="kind">
              <option value="indep" selected>independiente</option>
              <option value="generic" selected>generico</option>
              <option value="comercial" selected>comercial</option>
              <option value="base" selected>droga base</option>
              <option value="comercialToGeneric" selected>comercial a generico</option>
              <option value="compositionGeneric" selected>composicion de generico</option>
              <option value="compositionComercial" selected>composicion de comercial</option>
              <option value="subs">sustancia</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default" id="submitBtn">Buscar</button>
        </form>
      </div>
    </div>

    <div class="row marketing">
      <h2>Resultados:</h2>
      <div class="col-lg-12">
        <pre class="results" id="results">
        </pre>
      </div>
    </div>

    <div class="footer">
      <p>© Omnia Salud 2014</p>
    </div>
  </div>
  <script>
    $('#searchForm').submit(function (event){
      event.preventDefault();
      $('#submitBtn').attr('disabled', true);
      var term = $('#term').val();
      var kind = $('#kind').val();
      $.get('api/search?term=' + term + '&kind=' + kind, function (results) {
        $('#results').text(JSON.stringify(results, undefined, 2 ));
        $('#results').css({'display': 'block'});
        $('#submitBtn').attr('disabled', false);
      });
    });
  </script>
</body>
}
